<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locate form</title>
    <script src="/locateForm.js"></script>
    <style>
        @font-face {
            font-family: Montserrat;
            src: url(Montserrat-Medium.ttf);
        }
        body {
            font-family: Montserrat;
        }

        .container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            min-height: 100%;
            background-color: rgb(213, 234, 255);
        }

        .inner-container {
            margin: auto;
            width: 600px;
            height: auto;
        }

        .top-side {
            background-color: rgb(0, 46, 109);
            border-radius: 20px 20px 0 0;
        }
        .top-side h1 {
            padding: 8%;
            color: white;
            margin-top: 5%;
        }

        .bottom-side {
            background-color: white;
            border-radius: 0 0 20px 20px;
            margin-top: -4%;
        }
        .bottom-side form {
            padding: 5% 5% 2% 5%;
        }
        .bottom-side input, .bottom-side select {
            font-size: medium;
            padding: 5px;
            width: 90%;
        }
        .bottom-side input {
            outline: none;
        }
        .bottom-side select {
            font-family: Montserrat;
            cursor: pointer;
        }
        .bottom-side input[type=checkbox] {
            width: 17px;
            height: 17px;
        }
        .bottom-side p {
            font-size: small;
            color: green;
        }
        .bottom-side button {
            position: relative;
            bottom: 1%;
            font-family: Montserrat;
            font-size: large;
            cursor: pointer;
            background-color: rgb(0, 46, 109);
            border: none;
            padding: 10px;
            color: white;
            border-radius: 10px;
            margin-left: 40%;
            transition: all 0.3s ease;
        }
        .bottom-side button:hover {
            background-color: transparent;
            color: rgb(0, 46, 109);
            border: 3px solid rgb(0, 46, 109);
        }

        @media screen and (max-width: 600px) {
            .inner-container {
                width: 300px;
            }
            .top-side h1 {
                margin-top: 20%;
            }
            .bottom-side {
                margin-top: -7%;
            }
            .bottom-side form {
                padding: 8% 8% 2% 8%;
            }
            .bottom-side button {
                margin-left: 30%;
                margin-bottom: 7%;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="inner-container">
            <div class="top-side">
                <h1>Fill in the form below to sign up</h1>
            </div>
            <div class="bottom-side">
                <form id="mapLocate" action="/mapLocatePage/{{email}}" method="post">
                    <label for="username">Username (not your actual name): </label><br>
                    <input type="text" name="username" id="username" placeholder="osd25" required><br><br>
                    <label for="role">Role: </label><br>
                    <select id="role" name="role">
                        <option value="student" selected>Student</option>
                        <option value="staff">Staff</option>
                        <option value="alumni">Alumni</option>
                    </select><br><br>
                    <label for="country">Country: </label><br>
                    <select id="country" name="country" onchange="getSelectedCountry()" required></select><br><br>
                    <label for="state">State/province: </label><br>
                    <select id="state" name="state" required></select><br><br>
                    <label for="city">City/town/district: </label><br>
                    <input type="text" name="city" id="city" placeholder="Claremont, Cape Town" required><br><br>
                    <label for="expertise">What your main expertise/course you are undertaking? (maximum 30 characters)</label><br>
                    <input type="text" name="expertise" onkeyup="countChars(this, 'charNum_expertise')" maxlength="30" required>
                    <p id="charNum_expertise"><i>Total: 0 characters</i></p>
                    <label for="interests">What are your interest(s)? (maximum 50 characters)</label><br>
                    <input type="text" name="interests" onkeyup="countChars(this, 'charNum_interest')" placeholder="photography and travel" maxlength="50" required>
                    <p id="charNum_interest"><i>Total: 0 characters</i></p>
                    <input type="checkbox" id="confirm" name="confirm" value="confirm" required>
                    <label for="confirm">I agree to the privacy policy.</label><br><br>
                    <button id="submit">Submit</button>
                </form>
            </div><br>
        </div>
    </div>
</body>
</html>