<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/mapLocate/mapLocate.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Map_Locate</title>
    <script>
        function openMenu() {
            var menu = document.getElementById("menu-content");
            if (window.innerWidth > 800) {
                menu.style.width = "20%";
            }
            else if (window.innerWidth > 600) {
                menu.style.width = "30%";
            }
            else {
                menu.style.width = "40%";
            }
        }

        function closeMenu() {
            document.getElementById("menu-content").style.width = "0%";
        }

        function initMap() {
            // Get user's coordinates.
            const LatLong = { lat: {{userLat}}, lng: {{userLong}} };
            // Image used to create the user's marker.
            const image = "http://maps.google.com/mapfiles/ms/icons/blue-dot.png";
            // Image used to create the other user's marker(s).
            const image1 = "http://maps.google.com/mapfiles/ms/icons/green-dot.png";
            // Create map.
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 7,
                center: LatLong,
            });
            var coordinates = document.getElementsByClassName("coordinates");
            // If other user exists, create the markers for the user and other users.
            if (coordinates.length != 0) {
                for (var i=0; i<coordinates.length; i++) {
                    var latslongs = coordinates[i].innerText.split(",");
                    var user = latslongs[0];
                    var otherCoordinates = {lat: parseFloat(latslongs[1]), lng: parseFloat(latslongs[2])};
                    if (otherCoordinates.lat != {{userLat}} && otherCoordinates.lng != {{userLong}}) {
                        var otherUserMarker = new google.maps.Marker({
                            position: otherCoordinates,
                            map,
                            icon: image1
                        });
                        markerWindow(user, otherUserMarker);
                    }
                }
            }
            const userMarker = new google.maps.Marker({
                position: LatLong,
                map,
                icon: image
            });
        }

        function markerWindow(user, marker) {
            const infoWindow = new google.maps.InfoWindow();
            google.maps.event.addListener(marker, "click", () => {
                var markerLat = marker.getPosition().lat();
                var markerLong = marker.getPosition().lng();
                infoWindow.close();
                infoWindow.setContent(`<div class="connect"><p>Would you like to connect to ${user}?</p><button><a href="/sendEmail/{{encryptedEmail}}/${markerLat}/${markerLong}">Yes</a></button></div>`);
                infoWindow.open(marker.getMap(), marker);
            });
        }
        window.initMap = initMap;
    </script>
</head>
<body>
    <div class="navbar">
        <div class="menu-icon">
            <button onclick="openMenu()"><i class="fa fa-bars"></i></button>
        </div>
    </div>
    <div class="menu-content" id="menu-content">
        <button onclick="closeMenu()"><i class="fa fa-close"></i></button>
        <a href='/profile/{{encryptedEmail}}'>Profile<i class="fa fa-user"></i></a>
        <a href='/logout'>Logout<i class="fa fa-sign-out"></i></a>
    </div>
    <div id="map"></div>
    {{#coordinates}}
        <p hidden class="coordinates">{{username}},{{lat}},{{long}}</p>
    {{/coordinates}}
    <script src="https://maps.googleapis.com/maps/api/js?key={{apiKey}}&callback=initMap"></script>
</body>
</html>