<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/sendEmail/sendEmail.css">
    <title>Send email</title>
</head>
<body>
    <div class="container">
        <div class="inner-container">
            <div class="top-side">
                <h1>Fill in the form below to send email</h1>
            </div>
            <div class="bottom-side">
                <form action="/sendEmail" method="post">
                    <input type="hidden" name="from" value={{sender}} required>
                    <input type="hidden" name="to" value={{recepient}} required>
                    <label for="subject">Subject: </label><br>
                    <input type="text" name="subject" required><br><br>
                    <label for="message">Message: </label><br>
                    <textarea name="message" required></textarea><br><br>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>