$ALU-blue: rgb(0, 46, 109);

@font-face {
    font-family: Montserrat;
    src: url(Montserrat-Medium.ttf);
}

body {
    font-family: Montserrat;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: rgb(213, 234, 255);
}

.inner-container {
    margin:auto;
    width: 600px;
    height: auto;
}

.top-side {
    background-color: $ALU-blue;
    border-radius: 20px 20px 0 0;

    h1 {
        padding: 8%;
        color: white;
        margin-top: 10%;
    }
}

.bottom-side {
    background-color: white;
    border-radius: 0 0 20px 20px;
    margin-top: -4%;

    form {
        padding: 5% 5% 2% 5%;
    }

    input, select {
        font-size: medium;
        padding: 5px;
        width: 90%;
    }

    input {
        outline: none;
    }

    select {
        font-family: Montserrat;
        cursor: pointer;
    }

    input[type=checkbox] {
        width: 17px;
        height: 17px;
    }

    button {
        position: relative;
        bottom: 1%;
        font-family: Montserrat;
        font-size: large;
        cursor: pointer;
        background-color: $ALU-blue;
        border: none;
        padding: 10px;
        color: white;
        border-radius: 10px;
        margin-left: 40%;
        transition: all 0.3s ease;
    }

    button:hover {
        background-color: transparent;
        color: $ALU-blue;
        border: 3px solid $ALU-blue;
    }
}

@media screen and (max-width: 600px) {
    .inner-container {
        width: 300px;
    }

    .top-side {
        h1 {
            margin-top: 20%;
        }
    }

    .bottom-side {
        margin-top: -7%;

        form {
            padding: 8% 8% 2% 8%;
        }

        button {
            margin-left: 30%;
            margin-bottom: 7%;
        }
    }
}