$ALU-blue: rgb(0, 46, 109);
$White: white;

@font-face {
    font-family: Montserrat;
    src: url(Montserrat-Medium.ttf);
}

body {
    font-family: Montserrat;
}

.navbar {
    position: absolute;
    left:0%;
    top: 0%;
    width: 100%;
    height: 10%;
    background-color: $ALU-blue;
}

.menu-icon {
    float: left;
    margin-left: 4%;
    margin-top: 1.2%;

    button {
        background-color: transparent;
        cursor: pointer;
        border: none;

        i {
            font-size: 30px;
            color: $White;
        }
    }
}

.menu-content {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 0%;
    height: 100%;
    background-color: $ALU-blue;
    z-index: 3;
    overflow-x: hidden;
    transition: 0.4s ease;

    button {
        margin-left: 0%;
        font-size: x-large;
        padding: 16px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        color: white;
    }

    a {
        color: white;
        padding: 10% 10%;
        text-decoration: none;
        display: block;
        font-size: larger;
    }
}

#map {
    position: absolute;
    left: 0%;
    top: 10%;
    width: 100%; 
    height: 90%;
}

.connect {
    padding: 5px;
    font-family: Montserrat;

    button {
        font-family: Montserrat;
        font-size: medium;
        cursor: pointer;
        background-color: $ALU-blue;
        border: none;
        padding: 5px;
        color: white;
        border-radius: 5px;
        transition: all 0.3s ease;
    }

    button:hover {
        background-color: transparent;
        color: $ALU-blue;
        border: 3px solid $ALU-blue;
    }
}