$ALU-blue: rgb(0, 46, 109);

@font-face {
    font-family: Montserrat;
    src: url(Montserrat-Medium.ttf);
}

body {
    font-family: Montserrat;
}

.container1 {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgb(213, 234, 255);
    display: table;
}

.outer-container1 {
    display: table-cell;
    vertical-align: middle;
}

.inner-container1 {
    width: 600px;
    height: auto;
    margin: auto;
    background-color: white;
    padding: 15px;
    border-radius: 10px;

    form {
        padding: 5% 5% 2% 5%;
    }

    input, select {
        font-size: medium;
        padding: 5px;
        width: 90%;
    }

    input {
        outline: none;
    }

    select {
        font-family: Montserrat;
        cursor: pointer;
    }

    input[type=checkbox] {
        width: 15px;
        height: 15px;
    }

    button {
        font-family: Montserrat;
        font-size: large;
        cursor: pointer;
        background-color: $ALU-blue;
        border: none;
        padding: 10px;
        color: white;
        border-radius: 10px;
        margin-left: 35%;
        transition: all 0.3s ease;
    }

    button:hover {
        background-color: transparent;
        color: $ALU-blue;
        border: 3px solid $ALU-blue;
    }

    a {
        margin-left: 37%;
        cursor: pointer;
    }

    a:hover {
        color: $ALU-blue;
        text-decoration: underline;
    }
}

.modal {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: table;
    opacity: 0;
    z-index: -1;
    transition: 0.5s ease;
}

.outerModal {
    display: table-cell;
    vertical-align: middle;
}

.innerModal {
    width: 600px;
    height: auto;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    background-color: white;

    button {
        font-family: Montserrat;
        font-size: large;
        cursor: pointer;
        background-color: $ALU-blue;
        border: none;
        padding: 10px;
        color: white;
        border-radius: 10px;
        transition: all 0.3s ease;

        a {
            text-decoration: none;
            color: white;
        }

        a:hover {
            color: $ALU-blue;
        }
    }

    button:hover {
        background-color: transparent;
        color: $ALU-blue;
        border: 3px solid $ALU-blue;
    }
}